CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_TASK_WDT_EN=y
CONFIG_ESP_TASK_WDT_INIT=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=5
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=y
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
# CONFIG_PION_IMU_SIMULATION is not set
CONFIG_PION_I2C_SDA_GPIO=21
CONFIG_PION_I2C_SCL_GPIO=22
# CONFIG_PION_ACTUATOR_ENABLED is not set
CONFIG_PION_BINARY_TELEMETRY=y
